@use "/src/scss/colors" as colors;
.component.kpi-payment {
  border: 1px solid colors.$neutral-3;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 0.4rem;
  border-radius: 0.2rem;
  background-color: colors.$neutral-2;

  .title {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .value {
    font-size: 1.5rem;
    font-weight: 400;
  }

  @media screen and (max-width: 550px) {
    width: initial;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.4rem;
    gap: 0.5rem;
    padding: 0.4rem;

    border: 1px solid colors.$neutral-2;

    .value {
      &.red {
        color: red;
      }

      &.green {
        color: green;
      }
    }
  }
}
