@use "@/scss/colors" as colors;
@use "@/scss/variables" as variables;

$topbar-height: 4rem;
$topbar-bg: colors.$primary-2;

.component.topbar {
  display: flex;
  height: $topbar-height;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  background-color: $topbar-bg;
  color: colors.$neutral-1;
  justify-content: space-between;

  .left-side {
  }

  .right-side {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.component.family-selector {
  .btn {
  }
}

.component.user-dropdown {
}

button {
  background: none;
  border: none;

  display: flex;
  justify-content: end;

  p {
    color: colors.$neutral-1;
    width: 2rem;

    &:hover {
      cursor: pointer;
    }
  }
}
