@use "/src/scss/colors" as colors;
.component.payment-method-tag {
  display: inline-block;
  background-color: colors.$neutral-2;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.6rem;
  font-weight: 600;

  &.paid {
    background-color: colors.$secondary-5;
    color: colors.$primary-2;
  }

  &.predicted {
    background-color: colors.$secondary-1;
    color: colors.$primary-2;
  }

  &.pending {
    background-color: colors.$secondary-2;
    color: colors.$primary-2;
  }
}
