// Primary colors
$primary-1: #f4bb42;
$primary-2: #2a3550;

// Secondary colors
$secondary-1: #ff8404;
$secondary-2: #e82425;
$secondary-3: #26303c;
$secondary-4: #1072b8;
$secondary-5: #03ce17;
$secondary-6: #023d08;
$secondary-7: #293849;
$secondary-8: #133f5e;
$secondary-9: #131e34;
$secondary-10: #08924c;
$secondary-11: #d9d9d9;
$secondary-12: #222b45;
$secondary-12: #26303c;
$secondary-13: #6d5ae1;
$secondary-14: #d23fdf;
$secondary-15: #23a69e;
$secondary-16: #384860;

// Tags
$tags-1: #0f324b;
$tags-2: #e3a01c;
$tags-3: #a1db29;
$tags-4: #f7568c;
$tags-5: #009fa9;
$tags-6: #fbca1c;
$tags-7: #ffa31d;
$tags-8: #f84e2f;
$tags-9: #3db3ee;
$tags-10: #476cef;
$tags-11: #9d5abe;
$tags-12: #2dd4bf;

// Neutral colors
$neutral-1: #ffffff;
$neutral-2: #e7e7e7;
$neutral-3: #cacaca;
$neutral-4: #a9a9a9;
$neutral-5: #626262;
$neutral-6: #383838;
$neutral-7: #000000;
$neutral-8: #808080;
$neutral-9: #f1f1f1;
$neutral-10: #e1e2e9;
$neutral-11: #2a3550;
$neutral-12: #f8f8f8;
$neutral-13: #f8fafc;
$neutral-14: #949aa2;

// Extra
$error: $secondary-2;
$input-border: $neutral-5;
$input-placeholder: $neutral-4;
$input-text: $neutral-7;
