// Reset
@use "/src/scss/reset";

// Font
@use "/src/assets/fonts/montserrat/font.css";

// Style Guide
@use "./styleGuide";

// Defaults
@use "./defaults";

body {
  height: 100vh;
  overflow-x:hidden;
  &:has(#root .component.modal) {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }

  #root {
    height: auto;
  }
}
